<!-- views/rides-new.handlebars -->


<form method="POST" action="/rentals/view/{{rental._id}}">

    {{> rentals-form}}

    <!-- BUTTON -->
    <p>
        <button type="submit" class="btn btn-primary btn-sm">Save Listing</button>
    </p>
    <form method="GET" action="/">
        <button type="cancel" class="btn btn-primary btn-sm">Cancel</button>
    </form>

</form>
